<template>
    <div>
      {{ properCase pageName }}
    </div>
</template>
<script setup{{#if isGlobal}} name="{{ properCase name }}" {{/if}}>
// const { proxy } = getCurrentInstance()
</script>

<style lang="less" scoped>

</style>